version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yokai-dashboard
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=production